{% extends 'index.html' %}
{% load static %}

{% block title %}
SENAI - ADICIONAR ALUNO
{% endblock %}

{% block body %}
<div class="container" style="display: flex; align-items: center; justify-content: center;">
    <section class="adicionar-aluno">
        <h1>Adicionar Aluno</h1>
        <div class="form-container">
            <div class="right-side">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group" style=" display: flexbox; text-align: center; align-items: center; justify-content: center;">
                        <label for="id_foto" class="foto-btn" style="border: 5px #555; border-color: #555;">
                            <img id="foto-preview" src="{% static 'default-user.png' %}" alt="Foto do Aluno" 
                                 style="width: 80px; height: 80px; border-radius: 50%; cursor: pointer; border: 2px solid black;">
                        </label>
                        <input type="file" id="id_foto" name="foto">
                        <p style="margin-top: 10px;">Clique na foto para selecionar</p>
                    </div>

                    <div class="form-group">
                        <label for="id_nome">Nome Completo:</label>
                        {{ form.nome }}
                    </div>

                    <div class="form-group">
                        <label for="id_telefone">Telefone de Contato:</label>
                        {{ form.telefone }}
                    </div>

                    <div class="form-group">
                        <label for="id_nome_pai">Nome do Pai:</label>
                        {{ form.nome_pai }}
                    </div>

                    <div class="form-group">
                        <label for="id_nome_mae">Nome da Mãe:</label>
                        {{ form.nome_mae }}
                    </div>

                    <div class="form-group">
                        <label for="id_turma">Turma:</label>
                        {{ form.turma }}
                    </div>

                    <div class="form-group">
                        <label for="id_observacoes">Observações:</label>
                        {{ form.observacoes }}
                    </div>

                    <button type="submit" class="btn btn-primary">Adicionar</button>
                </form>
            </div>
        </div>
    </section>
</div>

<style>
    body {
        color: white;
        font-family: sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        margin: 0 auto;
        padding-top: 80px;
    }

    .adicionar-aluno h1 {
        font-size: 2.5em;
        margin-bottom: 40px;
        text-align: center;
        margin-top: 10px;
        font-family: 'Inria Serif', serif;
        font-weight: bold;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 20px;
    }

    .form-group {
        margin-bottom: 20px;
        text-align: left;
    }

    .form-group label {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        margin-top: 5px;
    }

    .form-group label {
        font-size: 18px;
        width: 100px;
        margin-right: 10px;
    }

    .form-control {
        background-color: #bcbcbc80;
        color: rgb(0, 0, 0);
        border: 1px solid #686868;
        padding: 7px;
        border: none;
        border-radius: 5px;
        margin-bottom: 15px;
        width: 400px;
        box-sizing: border-box;
    }

    .btn {
        background-color: #686868;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.3s;
        border-radius: 5px;
        width: 200px;
        margin-top: 15px;
        margin-left: 90px;
        font-family: 'Inria Serif', serif;
        font-weight: bold;
    }

    .btn:hover {
        background-color: #555;
    }

    .foto-btn {
        display: inline-block;
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    #foto-preview {
        display: block;
        margin: auto;
        object-fit: cover;
    }

    input[type="file"] {
        display: none;
    }
</style>

<script>
    document.getElementById('id_foto').addEventListener('change', function (event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var fotoPreview = document.getElementById('foto-preview');
            fotoPreview.src = e.target.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    });
</script>

{% endblock %}
