{% extends 'index.html' %}

{% load static %}

{% block title %}
SENAI - CARÔMETRO
{% endblock %}

{% block body %}
<div class="container" style="padding-top: 80px; display: block;">
  <!-- Botão de retorno -->
  <div style="justify-content: center; align-items: center; margin-top: 250px; position: fixed; margin-left:40px ;">
    <a href="http://127.0.0.1:8000/carometro" style="color: rgb(183, 33, 33); font-size: 50px;">
      <i class="bi bi-arrow-left-circle-fill"></i>
    </a>
  </div>

  {% if is_coordenador %}
  <div class="buttons-adicionais" 
     style="background-color: #d9d9d9; width: 20px; display: flex; align-items: center; border-radius: 15px; padding-left: 20px; padding-right: 20px; margin-top: 20px; margin-left: 1200px; height: 50px; margin-bottom: 40px;">
        <a href="{% url 'adicionarturma' %}">
            <i class="bi bi-person-plus" style="font-size: 20px;"></i>
        </a>
  </div>
  {% endif %}

  <!-- Lista de turmas -->
  <div class="buttons" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
    {% if turmas %}
    {% for turma in turmas %}
    <div class="button-group">
      <a href="{% url 'carometro3' turma.turma %}" class="button-1">
        <i class="bi bi-inboxes"></i>
      </a>
      <h1 class="button-title">{{ turma.turma }} - {{ turma.periodo }} ({{ turma.curso }})</h1>

      <div class="edit-delete-buttons">
        {% if is_coordenador %}
        <button><a href="{% url 'editarturma' turma.id %}" class="edit-button">Editar</a></button>
        <form method="POST" action="{% url 'excluirturma' turma.id %}">
          {% csrf_token %}
          <button type="submit" onclick="return confirm('Tem certeza de que deseja excluir este curso e todas as dependências associadas?')">
              Excluir
          </button>
        </form>
        {% endif %}
      </div>
    </div>

    {% empty %}
    <p>Nenhuma turma encontrada.</p>
    {% endfor %}
    {% endif %}
  </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<style>
  body {
    color: white;
    font-family: sans-serif;
    margin: 0;
    align-items: center;
    background: url('../MuralSenai/static/img/Plano de Fundo Web - Escuro - Mural.png');
    height: autox ;
  }

  .logo {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    background-image: url("{% static 'img/Plano de Fundo Web - Claro - Mural.png' %}");
    background-size: cover;
    /* height: 100vh; */
    background-attachment: fixed;
    /* Mantém o background fixo */
    background-position: center;
    /* Centraliza o background */
    background-repeat: no-repeat;
  }

  .buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: calc(50% - 30px);
    margin-bottom: 15px;
  }

  .button-1:hover {
    background-color: #ddd;
  }

  .button-title {
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Inter, serif', sans-serif;
    font-weight: 300;
  }

  h1 {
    color: var(--h1-color);
    transition: color 0.3s ease;
  }

  .edit-delete-buttons {
      display: flex;
      gap: 10px; /* Espaçamento entre os botões de editar e excluir */
      margin-top:10px; /* Margem acima dos botões */
      margin-bottom: 20px;
      justify-content:center; /* Centraliza os botões */
   }
</style>

<script>
  // Lógica JavaScript para excluir turmas
  document.querySelectorAll('.delete-button').forEach(button => {
    button.addEventListener('click', function (e) {
      e.preventDefault(); // Impede o comportamento padrão do link
      const turmaId = this.getAttribute('data-id'); // Obtém o ID da turma

      if (confirm('Tem certeza que deseja excluir esta turma?')) {
        fetch(`/excluirturma/${turmaId}/`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': '{{ csrf_token }}', // Adicionando o token CSRF para segurança
          }
        })
          .then(response => response.json())
          .then(data => {
            if (data.status === 'sucesso') {
              alert(data.mensagem); // Mensagem de sucesso
              location.reload(); // Recarrega a página para atualizar a lista de turmas
            } else {
              alert(data.mensagem); // Mensagem de erro
            }
          })
          .catch(error => console.error('Erro:', error));
      }
    });
  });
</script>

{% endblock %}
