{% extends 'index.html' %}

{% load static %}

{% block title %}
Editar Turma
{% endblock %}

{% block body %}
<!-- Modal de edição -->
<div id="editModal" class="modal" style="display: flex; justify-content: center; align-items: center; margin-top: 200px;">
    <div class="modal-content" style="background-color: rgb(255, 85, 85); padding: 50px; border-radius: 20px;">
        <h1 style="margin-top: 0px; margin-bottom: 30px;">Editar Turma</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="turma">Nome da Turma:</label>
                <input type="text" id="turma" name="turma" value="{{ turma.turma }}" class="input-field" required>
            </div>
        
            <div class="form-group">
                <label for="periodo">Período:</label>
                <input type="text" id="periodo" name="periodo" value="{{ turma.periodo }}" class="input-field" required>
            </div>
        
            <button type="submit">Salvar</button>

            <!-- Exibir mensagens de erro -->
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </form>
    </div>
</div>

<style>
    body {
        background-image: var(--background-image);
        color: white;
        font-family: sans-serif;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        color: var(--h1-color);
        transition: color 0.3s ease;
        font-family: 'Inria Serif', serif;
        font-weight: bold;
    }

    .input-field {
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: white;
        color: black;
        width: calc(100% - 20px); /* Ajustando largura */
    }

    button {
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: green; /* Cor do botão */
        color: white;
    }
</style>

{% block extra_js %}
<!-- Linkando os arquivos CSS e JS estáticos -->
<link rel="stylesheet" href="{% static 'css/navStyle.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/bootstrapicons-iconpicker.min.css' %}">
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'dist/js/bootstrapicon-iconpicker.min.js' %}"></script>
{% endblock %}

{% endblock %}