{% extends 'index.html' %}

{% load static %}

{% block title %}
Editar Aluno
{% endblock %}

{% block body %}
<!-- Modal de edição -->
<div id="editModal" class="modal" style="display: flex; justify-content: center; align-items: center; margin-top: 200px;">
    <div class="modal-content" style="background-color: rgb(255, 85, 85); padding: 50px; border-radius: 20px;">
        <h1 style="margin-top: 0px; margin-bottom: 30px;">Editar Aluno</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group" style="text-align: center;">
                <!-- Exibe a foto atual do aluno ou uma foto padrão se não houver foto -->
                <label for="id_foto" class="foto-btn">
                    <img id="foto-preview" src="{% if aluno.foto %}{{ aluno.foto.url }}{% else %}{% static 'default-user.png' %}{% endif %}" 
                         alt="Foto do Aluno" 
                         style="width: 150px; height: 150px; border-radius: 50%; cursor: pointer;">
                </label>
                <input type="file" id="id_foto" name="foto" accept="image/*">
                <p style="margin-top: 10px;">Clique na foto para selecionar</p>
            </div>

            <div class="form-group">
                <label for="nome">Nome do Aluno:</label>
                <input type="text" id="nome" name="nome" value="{{ aluno.nome }}" class="input-field" required>
            </div>
        
            <div class="form-group">
                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="telefone" value="{{ aluno.telefone }}" class="input-field" required>
            </div>
        
            <div class="form-group">
                <label for="nome_pai">Nome do Pai:</label>
                <input type="text" id="nome_pai" name="nome_pai" value="{{ aluno.nome_pai }}" class="input-field" required>
            </div>
        
            <div class="form-group">
                <label for="nome_mae">Nome da Mãe:</label>
                <input type="text" id="nome_mae" name="nome_mae" value="{{ aluno.nome_mae }}" class="input-field" required>
            </div>
        
            <div class="form-group">
                <label for="observacoes">Observações:</label>
                <input type="text" id="observacoes" name="observacoes" value="{{ aluno.observacoes }}" class="input-field">
            </div>
        
            <button type="submit">Salvar</button>
        </form>
    </div>
</div>

<style>
    body {
        background-image: var(--background-image);
        color: white;
        font-family: sans-serif;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        color: var(--h1-color);
        transition: color 0.3s ease;
        font-family: 'Inria Serif', serif;
        font-weight: bold;
    }

    .input-field {
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: white;
        color: black;
        width: calc(100% - 20px); /* Ajustando largura */
    }

    button {
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: rgb(116, 126, 116); /* Cor do botão */
        color: white;
    }
</style>

{% block extra_js %}
<script>
    document.getElementById('id_foto').addEventListener('change', function (event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var fotoPreview = document.getElementById('foto-preview');
            fotoPreview.src = e.target.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock %}
{% endblock %}
