{% extends 'index.html' %}

{% load static %}

{% block title %}
SENAI - INFORMAÇÕES CARÔMETRO
{% endblock %}

{% block body %}
<div class="container" style="padding-top: 100px;">

  <!-- Seção do carômetro com informações do usuário -->
  <section class="carometro">
    <h1>Carômetro</h1>

    {% if aluno.foto %}
    <img src="{{ aluno.foto.url }}" alt="Foto do Aluno" style="width: 150px; height: 150px; border-radius: 50%;">
    {% else %}
    <i class="bi bi-person-circle" style="font-size: 150px;"></i>
    {% endif %}


    <ul>
      {% for aluno in alunos %}
      <li>
        Nome: {{ aluno.nome }} <br>
        Telefone: {{ aluno.telefone }} <br>
        Pai: {{ aluno.nome_pai }} <br>
        Mãe: {{ aluno.nome_mae }} <br>
        Turma: {{ aluno.turma }} <br>
        Observações: {{ aluno.observacoes }} <br>
      </li>
      {% empty %}
      <li>Não há alunos cadastrados.</li>
      {% endfor %}
    </ul>

    <div class="extra-info">
      <p><strong>Informações:</strong></p>
      <!-- Adicionar informações adicionais aqui -->
    </div>
  </section>
</div>
{% endblock %}

<style>
  body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
  }

  .edit-delete-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .edit-button,
  .delete-button {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
  }

  .delete-button {
    background-color: #dc3545;
  }

  .edit-button:hover {
    background-color: #0056b3;
  }

  .delete-button:hover {
    background-color: #c82333;
  }
</style>

{% block extra_js %}
<link rel="stylesheet" href="{% static 'css/navStyle.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/bootstrapicons-iconpicker.min.css' %}">
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'dist/js/bootstrapicon-iconpicker.min.js' %}"></script>
{% endblock %}