{% extends 'index.html' %}

{% load static %}

{% block title %}
SENAI - INFORMAÇÕES CARÔMETRO
{% endblock %}

{% block body %}
<div class="container" style="padding-top: 100px; display: flex; justify-content: center; align-items: center;">
  <!-- Seção do carômetro com informações do usuário -->
  <section class="carometro">
    <h1 style="font-size: 2.5em; font-weight: bold; margin-bottom: 40px; text-align: center; font-family: 'Inria Serif', serif;">
      Carômetro
    </h1>

    <ul style="list-style: none; padding: 0; width: 100%;">
      {% for aluno in alunos %}
        <li style="background-color: #ededed; border: 2px solid #f00; border-radius: 10px; padding: 20px; margin-bottom: 20px; color: white; text-align: center;">
          {% if aluno.foto %}
            <img src="{{ aluno.foto.url }}" alt="Foto do Aluno" style="width: 150px; height: 150px; border-radius: 50%; object-fit: cover; margin-bottom: 20px;">
          {% else %}
            <i class="bi bi-person-circle" style="font-size: 150px; margin-bottom: 20px;"></i>
          {% endif %}
          <div style="text-align: left; margin: 0 auto; max-width: 600px;">
            <p style="margin-left: 45px;"><strong style="font-family: 'Inria Serif', serif;">Nome:</strong> {{ aluno.nome }}</p>
            <p style="margin-left: 45px;"><strong style="font-family: 'Inria Serif', serif;">Telefone:</strong> {{ aluno.telefone }}</p>
            <p style="margin-left: 45px;"><strong style="font-family: 'Inria Serif', serif;">Pai:</strong> {{ aluno.nome_pai }}</p>
            <p style="margin-left: 45px;"><strong style="font-family: 'Inria Serif', serif;">Mãe:</strong> {{ aluno.nome_mae }}</p>
            <p style="margin-left: 45px;"><strong style="font-family: 'Inria Serif', serif;">Turma:</strong> {{ aluno.turma }}</p>
            <p style="padding-top: 20px;"><strong style="font-family: 'Inria Serif', serif;">Observações:</strong> {{ aluno.observacoes }}</p>
          </div>
        </li>
      {% empty %}
        <li style="text-align: center; color: white;">Não há alunos cadastrados.</li>
      {% endfor %}
    </ul>
  </section>
</div>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

<style>
  body {
    font-family: 'Inria Serif', serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("{% static 'img/Plano de Fundo Web - Claro - Mural.png' %}");
    background-size: cover;
    /* height: 100vh; */
    background-attachment: fixed;
    /* Mantém o background fixo */
    background-position: center;
    /* Centraliza o background */
    background-repeat: no-repeat;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-image: url("{% static 'img/Plano de Fundo Web - Claro - Mural.png' %}");
    background-size: cover;
    /* height: 100vh; */
    background-attachment: fixed;
    /* Mantém o background fixo */
    background-position: center;
    /* Centraliza o background */
    background-repeat: no-repeat;
  }

  .carometro {
    width: 100%;
    max-width: 800px;
    text-align: center;
    background-image: url("{% static 'img/Plano de Fundo Web - Claro - Mural.png' %}");
    background-size: cover;
    /* height: 100vh; */
    background-attachment: fixed;
    /* Mantém o background fixo */
    background-position: center;
    /* Centraliza o background */
    background-repeat: no-repeat;
  }

  .carometro ul {
    list-style: none;
    padding: 0;
  }

  .carometro li {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }

  .carometro li img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .carometro li p {
    margin: 5px 0;
    text-align: center;
    margin-left: 30px;
  }

  .carometro li div {
    text-align: left;
    margin: 0 auto;
    max-width: 600px; /* Limita a largura dos textos */
  }
</style>

{% block extra_js %}
<link rel="stylesheet" href="{% static 'css/navStyle.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/bootstrapicons-iconpicker.min.css' %}">
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'dist/js/bootstrapicon-iconpicker.min.js' %}"></script>
{% endblock %}
